.Post {  
    background-color: rgb(21, 31, 39);
}

.Post-Container { 
    width: 100%;
    top: 100px;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 0 auto;
}

.Post-Page {
    width: 100%;
    object-fit: contain; 
    display: block;
}  

@media only screen and (min-width: 800px) {
    .Post-Container {
        width: auto;
    }     
}